.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}



.react-calculator {
  position: relative;
  padding: 50px;
  
  margin: 0 auto;
  width: 320px;
  background-color: #292f36;  
  box-shadow: 0 19px 38px rgba(19, 19, 19, .24),
0 15px 12px rgba(19, 19, 19, .12);
}


body {
  background: #833ab4;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  

}

body {
  padding-top: 20px;
  user-select: none;
}


button {
  outline: none;
  border: 0;
  padding: 16px;
  font-size: 20px;
  line-height: 1;
  background-color: transparent;
  color: #ffce5c;
  transition: all 300ms;
  border: 1px solid #0001;
}

button:hover {
  color: #00a3f5;
  border: 1px solid #ffce5c22;
}


.result {
  position: relative;
  width: 320px;
  height: 80px;
  padding: 8px;
  overflow: hidden;
  background-color: rgba(19, 19, 19, .64);
  font-size: 32px;
  line-height: 2;
  color: #ffce5c;
  text-align: right;
  direction: rtl;
  white-space: nowrap;
  box-sizing: border-box;
}

.functions button, .math-operations button {
  display: inline-block;
  width: 80px;
  height: 80px;
  color: #d63c6b
}

.functions button:hover, 
.math-operations button:hover {
  color: #b696a0;
}

.numbers {
  width: 240px;
  float: left;
}

.numbers button {
  display: block;
  position: relative;
  width: 80px;
  height: 80px;
  float: left;
}

.numbers button:last-child {
  width: 100%;
}

.functions {
  float: left;
  width: 240px;
}
